<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>
    <link rel="stylesheet" href="../../Static/css/style.css"> <!--se usa este formato para agregar una hoja de estilo; hay que modificar la ruta relativa-->
</head>
<body>
    <h1>Ingreso de Recetas</h1>
    <div id="receta_form" class="form-registro">
        <form action="/controlador-registro" method="POST" class="form-registro" id="form-registro"
            enctype="multipart/form-data">
            <div class="form-group">
                <label for="imagen">Imagen (Ruta)</label>
                <input type="text" class="input input-text" name="imagen" required placeholder="APP\Static\img\bebidas-barra.jpg" />
            </div>
            <div class="form-group">
                <label for="nombre">Nombre del cocktail</label>
                <input type="text" class="input" name="nombre" required placeholder="Mai Tai" />
            </div>
            <div class="form-group">
                <label for="ingredientes">Teléfono</label>
                <input type="text" class="input" name="ingredientes" required placeholder="1 parte de ron, 3 partes de cola, hielo" />
            </div>
            <div class="form-group">
                <label for="alcohol">Tiene alcohol?</label>
                <select name="alcohol" id="alcohol" class="input">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="instrucciones">Instrucciones</label>
                <input type="text" class="input" name="instrucciones" required placeholder="En una coctelera introducir hielo, ron y cola y mezclar. Servir en un vaso alto" />
            </div>

            <button type="submit" class="link btn">Enviar</button>
            <button type="reset" class="link btn">Borrar Formulario</button>
        </form>
    </div>
    <img src="" alt="" />
</body>
</html>