<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../Static/css/style.css"> <!--se usa este formato para agregar una hoja de estilo; hay que modificar la ruta relativa-->
</head>
<body>
    <h1 id="header">Sistema de Gestión de Recetas</h1>
    <div id="main-section" class="main-section">
        <a href="./pages/forms.html">Crear una nueva receta</a>
        <br>
        <a href="./pages/table.html">Abrir una receta existente</a>
    </div>
</body>
</html>